<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rizalfadiaalfikri.chatapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChatApp">
        <activity android:name=".Chats.GroupChatsActivity" android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".Toolbar.FindFriendsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Toolbar.SettingsActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".LoginRegister.SignUpActivity" />
        <activity android:name=".LoginRegister.SignInActivity" />
        <activity android:name=".Home.HomeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>